/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
#cuerpototal #barraprincipal {
  margin-bottom: 0px;
}
#cuerpototal #cuerpohome {
  background: url('../img/background_home.png') no-repeat 50% 0px;
  position: relative;
  height: 654px;
}
#cuerpototal #cuerpohome #formulario_registro {
  padding: 30px;
  margin: 30px;
  max-width: 600px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(0, 51, 102, 0.5);
  background: rgba(0, 51, 102, 0.5);
  /*color: rgba(@r,@g,@b,@a);*/

}
#cuerpototal #cuerpohome #formulario_registro .hmoption span {
  display: none;
}
#cuerpototal #cuerpohome #formulario_registro .hmoption .btn.active span {
  display: inline-block !important;
  margin-right: 10px;
}
